<form
    class="search-nav"
    action="/search"
    method="GET"
    role="search">

    <div class="input-group flex-nowrap">
      <input
      id="searchInputField"
        class="form-control rounded-0"
        type="text"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="Search..."
        aria-label="Search"
        aria-describedby="addon-wrapping">

      <button
        type="submit"
        class="input-group-text rounded-0"
        id="addon-wrapping">
        <span class="material-symbols-outlined">
          search
        </span>
      </button>

    </div>



  </form>

  <div class="flex flex-column search-results w-100">
    <div id="searchInputContainer" class="search-container rounded-0">

    </div>

  </div>