<div class="modal fade" id="sizeGuide" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
       <h3>Short size guide for the rings</h3>
       <p class="mb-4">If you are unsure about the size of your finger, we are here to help with some easy tips on how to measure it the right way.</p>
       <p>There are two ways on how to measure your finger. You either measure one of the well <strong> fitting rings</strong> that you own or you measure your <strong> finger</strong>:</p>

       <section class="ring-tips">
        <article>
            <h5>Fitting Ring</h5>
            <ol class="fitting-ring">
                <li>Choose one of the rings that fits well</li>
                <li>Measure the diameter of the inside (mm)</li>
            </ol>
        </article>
        <img src="{{ 'ringsizieguide.png' | asset_url }}" alt="">
        <article>
            <h5>Measure Finger</h5>
            <ol class="fitting-ring">
                <li>Wrap a strip of paper round your finger where you would like your ring to be
                   </li>
                <li> Mark the spot where the paper meets and measure the distance with the ruler</li>
            </ol>
        </article>
       </section>

       <h3>Ring Size Table</h3>
       <section class="ring-table">

       <table class="table">
        <thead>
          <tr>
            <th scope="col">Ring Diameter</th>
            <th scope="col" class="align-right">Ring Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>15.00mm - 15.50mm</td>
            <td class="align-right">48</td>
          </tr>
          <tr>
            <td>15.60mm - 16.40mm</td>
            <td class="align-right">50</td>
          </tr>
          <tr>
            <td>16.50mm - 17.00mm</td>
            <td class="align-right">52</td>
          </tr>
          <tr>
            <td>17.10mm - 17.50mm</td>
            <td class="align-right">54</td>
          </tr>
          <tr>
            <td>17.60mm - 18.10mm</td>
            <td class="align-right">56</td>
          </tr>
          <tr>
            <td>18.20mm - 18.70mm</td>
            <td class="align-right">58</td>
          </tr>
          <tr>
            <td>18.80mm - 19.30mm</td>
            <td class="align-right">60</td>
          </tr>
          <tr>
            <td>19.40mm - 20.00mm</td>
            <td class="align-right">62</td>
          </tr>
        </tbody>
      </table>
      <img src="{{ 'rings-guide.png' | asset_url }}" alt="">
       </section>
      </div>
 
    </div>
  </div>
</div>