    <div class="flex gap-1">
   
   {% comment %}
    
   <span class="material-symbols-outlined pe-1">sort</span> <p class="sort-by me-1">Sort by</p>   
   {% endcomment %}
      <select name="sorting" id="sort_by" class="form-select form-select-sm">
      {% for option in collection.sort_options %}
        <option value="{{ option.value }}" 
            {% if option.value == collection.sort_by %}
              selected
            {% endif %}
        >   Sort by: {{ option.name }} </option>
      {% endfor %}
    </select>
    </div>
