<!-- /templates/customers/register.liquid -->
<div class="position-relative article-template__background">
  <div class="pt-4">
    {% include 'breadcrumbs' %}
  </div>
</div>


<div class="container py-5 my-5 flex justify-content-around gap-4">
  <div class="login-form">
    <h2>Register</h2>
    {% form 'create_customer' %}

        {% include 'form-error', form: form %}

      <label for="first_name">First Name</label>
      <input
        type="text"
        value=""
        name="customer[first_name]"
        size="30"
        class="form-control  rounded-0 my-2" 
        id="first_name" />

      <label for="last_name">Last Name</label>
      <input
      id="last_name"
        type="text"
        value=""
        name="customer[last_name]"
        size="30" 
        class="form-control  rounded-0 my-2" />

      <label for="email">Email Address</label>
      <input
      id="email"
        type="email"
        value=""
        name="customer[email]"
        size="30" 
        class="form-control  rounded-0 my-2" />

      <label for="password">Password</label>
      <input
      id="password"
        type="password"
        value=""
        name="customer[password]"
        size="30"
        class="form-control  rounded-0 my-2"  />

      <input type="submit" value="Create an account" 
      class="button btn-main btn-lg w-100 mt-2"/>

    {% endform %}

  </div>
  <img
  src="{{ 'jewelry.png' | asset_url }}"
  alt="Logo"
  class="img-fluid img-log ">


</div>