<div class="position-relative article-template__background">
  <div class="pt-4">
    {% include 'breadcrumbs' %}
  </div>
</div>
<section class="container my-5">
  <h1>{{ page.title }}</h1>
  <section class="my-5">{{ page.content }}</section>

</section>


{% schema %}
  {
    "name": "Page settings",
    "settings": [
      {
        "type": "select",
        "id": "container",
        "label": "Layout",
        "options": [
          {
            "value": "container",
            "label": "Container"
          }, {
            "value": "container-fluid",
            "label": "Container Fluid"
          }
        ],
        "default": "container"
      }, {
        "type": "checkbox",
        "id": "show_publish_date",
        "default": true,
        "label": "Show Publish Date"
      }
    ]
  }
{% endschema %}