@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

main {
  padding-bottom: 150px; 
}

footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
  padding-top: 20px;
}

@font-face {
  font-family: "cottaregular";
  src: url(cotta_free-webfont.woff2) format("woff2"),
    url(cotta_free-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_grotesqueregular";
  src: url(brandon_reg-webfont.woff2) format("woff2"),
    url(brandon_reg-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_grotesquemedium";
  src: url(brandon_med-webfont.woff2) format("woff2"),
    url(brandon_med-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

p,
a,
button,
h5,
label,
span {
  font-family: "brandon_grotesqueregular";
  font-weight: normal;
  color: #372c28;
}

h1,
h2,
h3,
h4 {
  font-family: "cottaregular", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #372c28;
}

.form-control {
  background-color: #f7f6f3;
  border: 1px solid #bea092;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(190, 160, 146, 0.317);
  border-color: #bea092;
}

.nav-link {
  color: rgba(55, 44, 40, 1);
}

.nav-link.show {
  color: black;
}

.search-nav input,
.search-nav button {
  border: none;
  background-color: #f7f6f3;
}

.search-mobile .search-nav button {
  background-color: white;
}

.brand-template h5,
.inner-hero-section h5 {
  font-family: "brandon_grotesqueregular";
  font-weight: 600;
}

.brand-template h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.brand-template button {
  font-size: 1rem;
}
.brand-template-info span {
  font-family: "cottaregular", Arial, sans-serif;
}

/* .brand-template span {
  font-size: 1rem;
} */

.button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  padding: 0.3rem 1.2rem;
  font-size: 1.4rem;
}

#swym-custom-add-toCartBtn {
  font-size: 1rem;
  padding: 0.3rem 1.2rem;
}

.margin-top {
  margin-top: 4rem;
}

.btn-main {
  background-color: #433833;
  color: white;
}
.btn-main:hover {
  background-color: #392f2a;
  color: white;
}

.btn-sec {
  background-color: #f3eee9;
  color: black;
}

#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  /* background-color: rgb(247, 247, 232); */
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.flex {
  display: flex;
}

.container {
  padding: 2rem;
}

summary,
ul {
  list-style: none;
}

/* NAVIGATION */
nav {
  align-items: center;
}

.search-mobile {
  margin: 2rem 0;
}

.navbar-nav {
  height: 100vh;
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  background-color: rgba(243, 238, 233, 0.9);
}

.navbar-nav > .nav-item > .nav-link {
  font-size: 1.8rem;
  font-weight: 500;
}

.navbar-nav input {
  background-color: white;
}

.dropdown-menu {
  background-color: rgba(243, 238, 233, 0.9) !important;
  font-size: inherit;
  border: none;
}

.nav-icons-desktop {
  display: none;
}

.scrolled-nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-toggler-icon {
  background-image: none;
  padding-left: 1rem;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.search-desktop {
  display: none;
}

#mobile {
  font-size: 2rem;
}

.nav-icons {
  font-size: 1.5rem;
}

#numberOfCartItem1,
#numberOfCartItem2 {
  position: relative;
  top: 0;
  left: 14px;
  font-size: 0.6rem;
}

/* .shopping-bag {
  position: absolute
} */

/* .navbar-toggler-icon::before {
    font-family: 'Material Symbols Outlined';
    content: "\e5d2"; 
    font-size: 2rem;
  } */

.img-explore,
.card-img-top {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  clip-path: inset(1%);
}

.search-img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}

/* .login-form,
.forgot-password-form,
.register-form {
   width: 100%; 
   max-width: 330px;
  margin: auto; 
} */

.register-form a {
  text-decoration: underline;
  color: #bea092;
}

#image {
  width: 10rem;
  height: 12rem;
}

/* footer */

footer h5 {
  font-family: "cottaregular", Arial, sans-serif;
}
.divider > div {
  flex-direction: column;
}

.divider section {
  padding: 1rem;
  width: 100%;
  border-bottom: solid #8e8e8e 1px;
}

footer.divider section {
  border-bottom: none;
}

.divider section:last-child {
  border-bottom: none;
}

.shipping-info {
  background-color: #efe9e2;
  /* border-top: 1px solid #372C28;
  border-bottom: 1px solid #372C28; */
}

/* .background {
  background-color: bisque;
  width: 10rem;
  height: 7rem;
} */

.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 2rem;
}

.image-stack__item--bottom {
  grid-column: 3 / -1;
  grid-row: 1;
  background-color: #eae3dc;
  width: 20rem;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 9;
  padding-top: 5%;

  z-index: 1;
}

.image-stack img {
  height: 100%;
  border-radius: 15px;
  width: 20rem;
  display: block;
}

/* filters */
/* #filter-icon {
  position: relative;
} */

.categories-slider-img:hover {
  opacity: 0.8;
}

.form-select {
  height: max-content;
}

.categories-slide h4,
.gift-slide h4 {
  font-family: "brandon_grotesqueregular";
}
/* BRAND */
.brand-template__background {
  background-image: url(bg_brands.png);
  background-size: cover;
}

.article-template__background {
  background-image: url(bg_brands.png);
  background-size: cover;
  height: 5rem;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.brand-template-info {
  flex: auto;
}

/* brands */
.brand-template article {
  flex-direction: column;
}

.brand-template img {
  align-self: stretch;
  width: 100%;
}

.active {
  text-decoration: underline;
  /* box-shadow: 1px 3px 5px #dedada; */
}
/* collection page */

.collection-page__background_text {
  color: white;
  backdrop-filter: blur(9px); /* Chrome and Opera */
  box-shadow: inset 0 0 0 200px rgba(67, 56, 51, 0.5);
  margin: 0 auto;
}

.collection-page__background_text span,
.collection-page__background_text p {
  color: white;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;

  border-radius: 50%;
  display: inline-block;
}

.red-dot {
  background-color: #c88758;
}

.green-dot {
  background-color: #2c733c;
}

/* .collection-page img {
  filter: opacity(25%);
  -webkit-filter: opacity(25%);
} */

.background-effect {
  background-color: #f9f7f4;
  z-index: 1;
  position: relative;
}

.swym-button.swym-add-to-wishlist-view-product {
  position: absolute;
  right: 10px;
  top: 10px;
}

.sale-button {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 99;
}

.collection-page-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.collection-page {
  height: 100%;
}
.collection-page article h3,
#product_recommendation_body article h3,
.swym-wishlist-grid h3,
.collection-page h3,
.related h3 {
  font-family: "brandon_grotesqueregular";
  font-size: 1.2rem;
}

.collection-page__brand,
.collection-page__money {
  font-size: 0.8rem;
}

.price {
  font-weight: 600;
  font-size: larger;
}

/* pagination */
.page-link {
  border: none;
  color: #372c28;
}

.pagination {
  --bs-pagination-border-radius: none;
  --bs-pagination-disabled-bg: none;
}

.disabled > .page-link {
  color: #bea092;
  border-bottom: 1px solid #bea092;
}

/* product page */
.slider-container {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100vw;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.prev-button,
.next-button {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #dddddd75;
  border: none;
  cursor: pointer;
}

.prev-button {
  display: block;
  left: 10px;
}

.next-button {
  display: block;
  right: 10px;
}

.product-buttons {
  width: fit-content;
}

.item-quantity {
  width: 4rem !important;
  border: 1px solid #372c28;
}
.btn-subtract,
.btn-add {
  font-weight: bolder;
  color: #372c28;
}

.category-sku {
  font-size: 1rem;
}

#productPage h5 {
  font-weight: bolder;
}

#productPage .accordion-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.437) !important;
}

#productPage .accordion-body:last-child {
  border-bottom: none !important;
}

.spr-review-content-body {
  font-size: 1rem !important;
}

.spr-icon-star:before {
  color: #bea092;
}

/* .articlePage p > span,
.articlePage h3 > span,  #productPage .accordion span {
  font-family: "brandon_grotesqueregular";
  font-weight: normal;
} */

.articlePage h2 {
  margin-top: 2rem;
}

.articlePage img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.blog-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

/* .article-template__background nav a, .article-template__background nav span {
  font-size: 0.8rem;
} */

.main-article-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.main-article-container img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.nav-description-main {
  width: 80vw;
}

.nav-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-description-nested {
  width: 40vw;
}

/*  breadcrumbs  */

.breadcrumbs {
  margin: 0 0 1rem 1rem;
  width: 80vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbs-container {
  margin-top: 6rem;
}

.breadcrumbs__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-child):after {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: "";
  display: inline-block;
  height: 0.2em;
  margin: 0 0.2em;

  margin-right: 1rem;
  position: relative;
  transform: rotate(45deg);
  vertical-align: middle;
  width: 0.2em;
}

.breadcrumbs__link[aria-current="page"] {
  text-decoration: underline;
}

.home-icon {
  vertical-align: top;
}

.jdgm-rev-widg__header,
.jdgm-row-actions,
.jdgm-rev-widg__body {
  margin: 0 !important;
}

#insta-feed {
  display: grid !important;
  grid-template-rows: 1fr 1fr 1fr 1fr !important;
  z-index: 99 !important;
}

.instafeed-container {
  width: 100% !important;
  padding-top: 100% !important;
}

/* .jdgm-row-stars {
  text-align: left;
  display: flex !important;
  flex-direction: column !important;
  gap: 3rem;
}

.jdgm-rev-widg__header {
  text-align: left !important;
}

.jdgm-histogram {
  display: none !important;
}

.jdgm-rev-widg__summary,
.jdgm-row-stars > div {
  align-items: baseline !important;
}

.jdgm-write-rev-link,
.jdgm-widget-actions-wrapper {
  width: fit-content !important;
  display: inline-block !important;
} */

.product-details__section .accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.466) !important
}

.forgot-password {
  font-size: 1rem;
  color: #bea092;
}

.register-form p {
  font-family: "brandon_grotesquemedium";
}

.brand-img {
  height: 1.5rem;
}

.img-log {
  display: none;
}

.cart-table {
  overflow-x: auto;
}

.account span,
.order-page span {
  /* font-family: "brandon_grotesqueregular"; */
  padding-left: 0.5rem;
}

.contact {
  margin: 0 auto;
}

.longer-delivery,
.product-vendor {
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.product-title, .swym-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .product-title::after {
  content: " ... ";
} */

.collection-page__brand {
  display: flex;
  justify-content: space-between;
  color: rgba(67, 56, 51, 0.65);
}
/* .omnisend-form-647b5220e54adad5ac575876-section-6374ec98142fd3456c0fb30d {
  padding:0 !important
}

.omnisend-form-647b5220e54adad5ac575876-content {
  margin: 0 !important;
} */

/* .image-look {
  position: absolute;
} */

.darker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.modal-img-shop {
  object-fit: cover;
}

.image-look {
  width: 80vw;
  height: auto;
}

.shop-container {
  position: relative;
  width: fit-content;
}

.article-container h3 {
  font-size: inherit;
}

.article-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.button-shop {
  position: absolute;
  background-color: transparent;
  text-align: center;
  border: none;
  left: 0;
  top: 160px;
  width: 100%;
  color: white;
  text-align: center;
  border: none;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.button-shop p {
  text-decoration: underline;
  text-align: center;
  color: white;
  z-index: 1;
}

.modal-button-close {
  justify-self: end;
}

.shop-the-look {
  padding: 2rem;
}

.shop-text {
  display: grid;
  grid-template-rows: 5% 95%;
}

.shop-container:hover .button-shop {
  opacity: 1 !important;
}

.shop-container:hover .darker {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.account table, .cart-table table {
  border: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.cart-table caption, .account caption {
  text-align: left;
  font-size: 1.3em;
  margin: 0.5em 0 0.75em;
}

.cart-table thead, .account thead {
  display: none;
}

.cart-table tr, .account tr {
  display: block;
  border-bottom: 1px solid grey;
  padding: 1em 1em 0.5em;
}

.cart-table tr:last-child, .account tr:last-child{
  border-bottom: none;
}

.cart-table tr + tr, .account tr + tr {
  margin-top: 0.625em;
}

.cart-table td, .account td {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.8em;
  line-height: 1.35em;
}

.cart-table td:before, .account td:before {
  content: attr(data-label);
  font-size: 0.9em;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 45%;
  color: #545454;
}

.cart-table td + td, .account td + td {
  margin-top: 0.8em;
}

.cart-table td:last-child, .account td:last-child {
  border-bottom: 0;
}

.table-quantity {
  width: 5rem !important;
}

.sizeguide-btn {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #6d6d6d;
  color: #6d6d6d;
}

.fitting-ring li,
.ring-table td,
.ring-table th {
  font-family: "brandon_grotesqueregular";
  font-size: inherit;
}

.ring-tips {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

.ring-table thead {
  border-style: none;
  border-bottom: none;
}

.ring-table tr:last-child {
  border-bottom: none;
}

.ring-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.517);
}

.ring-table {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.ring-table table {
  width: 100%;
}

.align-right {
  text-align: right;
}

#productSelect {
  width: 40%;
}

#btn-account {
  cursor: pointer;
}

.btn-active {
  text-decoration: underline;
}

.background-effect img.secondary {
  display: none;
}

.background-effect:hover img.secondary {
  display: block;
}

.background-effect:hover img.main {
  display: none;
}

.product-image-wrapper img {
  aspect-ratio: 1/1;
}

.collection-slider-article {
  width: 25%;
}

.collection-slider-article img {
  width: fit-content;
}

.teaser-info-text {
  font-size: 1.2rem;
}

/* .teaser-info {
  padding: 1rem;
  max-width: 80vw;
} */

.cart-icon {
  position: absolute;
}



/********************* MEDIA QUERIES FOR SMALLER DEVICES ********************/
@media screen and (min-width: 300px) and (max-width: 480) {
}

/********************* MEDIA QUERIES FOR SMALLER TABLET ********************/

@media screen and (min-width: 480px) and (max-width: 650px) {
  .image-look {
    width: 40vw;
    height: auto;
  }
}

/*********** MEDIA QUERIES FOR BIGGER TABLET***********/

@media screen and (min-width: 650px) and (max-width: 1080px) {


  .next-button,
  .prev-button {
    display: none;
  }

  .slider {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

  .slider img {
    width: 50vw;
  }

  .image-look {
    width: 40vw;
    height: auto;
  }

  .button, #swym-custom-add-toCartBtn {
    padding: 0.5rem 2.5rem;
    font-size: inherit;
  }



  .navbar {
    padding: 0 1rem 1rem 1rem;
    align-items: baseline;
  }

  .navbar-nav {
    margin-top: 0;
    height: auto;
    padding: 0;
    background-color: white;
    gap: 1rem;
  }

  .dropdown-menu {
    padding-left: 1rem;
  }

  .navbar-nav > .nav-item > .nav-link {
    font-size: inherit;
    font-weight: 500;
  }
}

@media screen and (min-width: 990px) and (max-width: 1080px) {
  .search-mobile {
    display: none;
  }

  .search-desktop {
    display: block;
  }
  .nav-icons-mobile {
    display: none;
  }

  .nav-icons-desktop {
    display: flex;
  }
}

/* MEDIA QUERIES FOR DESKTOP */

@media screen and (min-width: 1080px) {



  .ring-tips {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 40% 20% 40%;
  }

  .ring-table table {
    width: 80%;
  }

  .ring-table {
    grid-template-columns: 1fr 1fr;
  }

  .brand-img {
    height: 2rem;
  }

  #wishlist-items-container .swym-wishlist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .contact {
    width: 50%;
  }

  .blog-img {
    width: 15rem;
    object-fit: cover;
  }

  .nav-icons-mobile {
    display: none;
  }
  .nav-icons-desktop {
    display: flex;
  }
  .product-vendor,
  .longer-delivery {
    width: auto;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
    vertical-align: middle;
  }

  .collection-page__brand {
    display: block;
    font-size: initial;
  }

  .inner-hero-section h5 {
    font-size: 1.5rem;
  }

  .inner-hero-section p {
    font-size: 1.3rem;
  }

  .cart-table table caption, .account table caption {
    font-size: 1.5em;
  }

  .cart-table thead, .account thead{
    display: table-header-group;
  }

  .cart-table tr, .account tr {
    display: table-row;
    border: 0;
  }

  .cart-table th, .cart-table 
  td, .account th, .account td {
    text-align: left;
  }

  .cart-table th, .account th {
    font-size: 0.85em;
  }

  .cart-table td, .account td {
    display: table-cell;
    border-bottom: none;
  }

  .cart-table td:before, .account td:before {
    display: none !important;
  }

  .table-quantity {
    width: 30% !important;
  }

  .table-delete {
    width: 5rem;
  }

  .navbar {
    padding: 0 1rem 1rem 1rem;
    align-items: baseline;
  }

  .navbar-nav {
    height: auto;
    margin-top: 0;
    padding: 0;
    background-color: white;
    gap: 1rem;
  }

  .dropdown-menu {
    padding-left: 1rem;
  }

  .navbar-nav > .nav-item > .nav-link {
    font-size: inherit;
    font-weight: 500;
  }

  .search-desktop {
    display: block;
  }

  .search-mobile {
    display: none;
  }

  navbar ul.dropdown-menu.show {
    padding-right: 1rem;
  }
  .nav-icons-mobile {
    display: none;
  }
  .nav-icons-desktop {
    display: flex;
  }

  .img-explore,
  .card-img-top {
    width: 14rem;
    height: 14rem;
  }

  .search-img {
    width: 100%;
    height: 14rem;
  }

  .dropdown-menu {
    background-color: rgba(
      var(--bs-tertiary-bg-rgb),
      var(--bs-bg-opacity)
    ) !important;
  }

  .dropdown-menu[data-bs-popper] {
    top: auto;
    left: auto;
  }

  .navbar-collapse {
    padding: 0.5rem 2rem;
  }

  .divider > div {
    flex-direction: row;
  }

  .divider section {
    padding: 0 6rem;
    border-right: solid #8e8e8e 1px;
    border-bottom: none;
  }

  .divider section:last-child {
    border-right: none;
  }

  .image-stack img {
    width: 30rem;
  }

  .image-stack__item--bottom {
    width: 30rem;
  }

  .image-stack__item--top {
    padding-left: 10%;
  }

  .search-nav {
    display: block;
  }

  .button-shop {
    top: 250px;
  }

  .modal-img-shop {
    object-fit: cover;
    width: 60%;
  }
  /* brands */
  .brand-template article {
    flex-direction: row;
  }

  .brand-template img {
    align-self: baseline;
    width: auto;
  }

  .brand-template button {
    font-size: 1.3rem;
  }

  /* collection page */

  .categories-slide h4,
  .gift-slide h4 {
    font-size: 2rem;
  }

  .collection-page__background_text {
    width: 30rem;
  }

  /* .collection-page__background {
    height: 15rem;
  } */

  .background-effect {
    background-color: #f9f7f4;
    z-index: 1;
  }

  .collection-page-img {
    width: 100%;
  }

  /* .collection-page article {
    width: 50%;
  } */

  /* product page */
  .next-button,
  .prev-button {
    display: none;
  }

  .slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }

  /* .grid-item {
    
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 200px;
  } */

  .teaser-info-text {
    font-size: 1.5rem;
  }

  img.grid-item {
    display: flex;
    max-width: 100%;
    max-height: 100%;
  }

  .margin-top {
    margin-top: 5rem;
  }

  .product-image-wrapper {
    position: sticky;
    top: 0;
    height: 100%; /* Set the height to 100% of the parent container */
    overflow: auto;
  }

  .product-page-container {
    display: flex;
    gap: 5rem;
    position: relative;
  }

  .content-wrapper {
    flex: 1;
    padding: 0 20px; /* Adjust the padding as needed */
  }

  main #productPage {
    margin-top: 9rem;
  }

  .articlePage h2 {
    font-size: 2.4rem;
  }

  .articlePage img {
    height: 40rem;
  }

  .article-template__background nav a,
  .article-template__background nav span {
    font-size: 1rem;
  }

  .about-us-img {
    width: 50%;
  }

  .main-article-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }

  /* .instafeed-container {
    width: 25.000000% !important ;
    padding-top: 25.000000% !important;
  } */

  #insta-feed {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 1fr !important;
  }


  .close {
    margin-top: 10rem;
  }

  .zoom {
    display: inline-block;
    overflow: hidden;
  }

  .slider img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .zoom:hover img {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
  }

  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .img-log {
    display: block;
  }

  .account-details {
    border-right: 1px solid #372c287b;
  }

  .order-details {
    padding-left: 2rem;
  }

  .logout {
    margin-top: 6rem;
  }

  .account {
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr;
  }

  .account-img {
    height: 100%;
  }

  .order-images {
    height: 100%;
  }

  .image-look {
    width: 40vw;
    height: auto;
  }

  .teaser-info > div {
    gap: 10rem;
  }
}
